.sidebar {
    width: 80px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    background-color: black;
    color: white;
}

.sidebar .mid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}