.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-left: 20px;
}

.quizinfo {
    display: flex;
    justify-content: space-around;
}

.file {
    display: flex;
    justify-content: space-between;
}

#submit {
    display: none;
}

.inputfile {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    background-color: rgba(78, 153, 224, 0.589);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 150px;
}
.buttonquiz {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
/* 
.SubmitBtn {
    background-color: rgba(78, 153, 224, 0.589);
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
*/