.progress {
    display: flex;
    gap: 30px;
    padding: 20px;
    height: 500px;
        flex-wrap: wrap;

}
.chart {
    display: flex;
    margin-left: 100px;
    padding: 20px;
    border: 1px solid rgba(42, 41, 41, 0.466);
    border-radius: 10px;

}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.courseBtn{
    background-color: rgb(88, 88, 233);
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.responsivePie{
    height: 250px;
    width: 350px;
}