.progress {
    display: flex;
    gap: 30px;
    padding: 20px;
    padding-left: 80px;
    height: 500px;
    flex-wrap: wrap;

}
.chart {
    display: flex;
    margin-left: 100px;
    padding: 20px;
    border: 1px solid var(--black);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.chart:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.courseBtn{
    background-color: rgb(88, 88, 233);
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 10px;
}
.courseBtn:hover {
  background-color: rgb(62, 62, 207);
}
.responsivePie{
    height: 250px;
    width: 350px;
}