.announcement {
    display: flex;
    gap: 10px;
    padding: 15px;
    -webkit-box-shadow: 10px -1px 36px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -1px 36px -12px rgba(0,0,0,0.75);
    box-shadow: 10px -1px 36px -12px rgba(0,0,0,0.75);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.announcement .profile-pic img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;
}

.announcement input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: .9375rem;
    outline: none;
}

.announcement .send {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: #ccccccb6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}