.admin-nav {
  display: flex;
  align-items: center;
  margin: 2.5em;
  background-color: var(--white);
}

.admin-page-title {
  font-size: 2em;
  font-weight: 700;
  color: var(--black);
  margin: 0 1em;
}

.admin-nav-content-container {
  display: flex;
  align-items: center;
  gap: 4em;
}

.admin-nav-content {
  font-size: 1.3em;
  color: var(--black);
  /* border: 2pt rgb(255, 255, 255) solid; */
}

.admin-nav-content:hover {
  border-bottom: 2pt var(--black) solid;
  cursor: pointer;
  font-weight: 500;
}
